body {
    margin-top: 100px;
    background-color: #001427;
    font-family: 'Teko', sans-serif;

}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f4d58d;
    color: #8d0801;
    margin: auto;
    padding: 50px;
    max-width: 500px;
    border: 3px solid white;
    border-radius: 50px;
    box-shadow: 10px 15px 15px rgba(0, 0, 0, 0.589);
}

h1 {
    margin: 0;
    padding-bottom: 20px;
}

/* MAIN IMAGE */
.mainImage {
    margin: auto;
    overflow: hidden;
    border: 5px solid #708D81;
    border-radius: 50px;
}

.mainImage img {
    max-width: 100%;
    transition: all 0.3s;
    display: block;
    width: 100%;
    height: auto;
    transform: scale(1);
}

.mainImage:hover img {
    transform: scale(1.1);
}

/* SCOREBOARD */
.scoreboard {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2 {
    margin: 0;
    padding: 10px;
    font-size: 3rem;
}

/* INSTRUCTIONS */
.instructions {
    background-color: #708D81;
    color: #FDF0D5;
    padding: 0px 100px;
    border-radius: 30px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.500);
}

.instructions:hover {
    font-size: large;
    transition: 500ms;
}

/* Playing Too */
h3 {
    font-size: 1.5rem;
}

.maxScore {
    display: flex;
    gap: 10px;
}

#playto {
    padding-left: 10px;
    max-height: 20px;
    align-self: center;
    border-radius: 10px;
    cursor: pointer;
}

/* Buttons */
.buttons {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 10px;
}

button {
    background-color: #708D81;
    color: #FDF0D5;
    font-size: 1em;
    padding: 15px;
    border-radius: 30px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.500);
}

button:hover {
    border-color: #8d0801;
    color: #8d0801;
    box-shadow: 0 0.5em 0.5em -0.4em #FDF0D5;
    cursor: pointer;
    transform: translateY(-0.25em);
    transition: 500ms;
}

/* End Game */
.winner {
    color: green;
}

.loser {
    color: red;
}